<!DOCTYPE html>

  <div class="modal" id="modal-delete">
    <div class="modal-bg modal-exit"></div>
    <div class="modal-container">

      <h1>Eliminación de usuario</h1>

      <h2>¿Estás seguro?</h2>

      <div>
       
        <button id="btn-confirm-user-delete" class="button is-danger modal-close" title="Eliminar">
          <span class="button__text">Confirmar</span>
        </button>

        <button class="button modal-close modal-exit" title="Cancelar">
          <span class="button__text">Cancelar</span>
        </button>

      </div>

    </div>
  </div>

</html>